In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
labels = pd.read_csv('targetlabels.txt',sep="\t",header=0,index_col=0)
    
data = pd.read_csv('data.csv',header=0,index_col=0)

labels['class'] = pd.Series(0,dtype=int)
labels['class'] = 0

## Generate labels data

### Note: there are three sample have both TCA and Resp, so maked as NaN

In [3]:
# Generate class for each gene.

for i in range(len(labels)):
    if labels.iloc[i].sum()!=-2:
        if labels.iloc[i]['TCA'] == 1:
            labels['class'].iloc[i] = 1
        elif labels.iloc[i]['Resp'] == 1:
            labels['class'].iloc[i] = 2
        elif labels.iloc[i]['Ribo'] == 1:
            labels['class'].iloc[i] = 3
        elif labels.iloc[i]['Proteas'] == 1:
            labels['class'].iloc[i] = 4
        elif labels.iloc[i]['Hist'] == 1:
            labels['class'].iloc[i] = 5
        elif labels.iloc[i]['HTH'] == 1:
            labels['class'].iloc[i] = 6
    elif labels.iloc[i].sum()==-6:
        labels['class'].iloc[i] = 0
    else: 
        labels['class'].iloc[i] = -2

In [4]:
# Three abnormal data

labels[(labels['TCA']==1)&(labels['Resp']==1)]

         TCA  Resp  Ribo  Proteas  Hist  HTH  class
gene
YDR178W    1     1    -1       -1    -1   -1     -2
YKL148C    1     1    -1       -1    -1   -1     -2
YLL041C    1     1    -1       -1    -1   -1     -2

In [5]:
# combine the label with the experiment data to a big dataframe
comb = pd.merge(data, labels['class'], left_index=True, right_index=True, how='outer')

In [6]:
comb.to_csv("combinedrawdata.csv")

In [164]:
# label distribution
labels.groupby('class').count()

        TCA  Resp  Ribo  Proteas  Hist   HTH
class
-2        3     3     3        3     3     3
 0     2240  2240  2240     2240  2240  2240
 1       14    14    14       14    14    14
 2       27    27    27       27    27    27
 3      121   121   121      121   121   121
 4       35    35    35       35    35    35
 5       11    11    11       11    11    11
 6       16    16    16       16    16    16

### class
From TCA to HTH, 1 to 6 

unlabel is 0

-2 is the three strange data

### imputer for missing data, using mean

In [169]:

X = comb[comb['class']!=-2].iloc[:,1:-1]
y = comb[comb['class']!=-2].iloc[:,-1]

In [171]:
from sklearn.preprocessing import Imputer

imputer = Imputer(missing_values = np.nan, strategy = 'mean', axis=0)
imputer = imputer.fit(X)
X_imputered=imputer.transform(X)

/Users/shawn/miniconda3/envs/pyml/lib/python3.6/site-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

### dealing imbalance
`over` and `under` are dictionary for how many sample we want for each class

In [177]:
from collections import Counter
print("Original:")
print(sorted(Counter(y).items()))

from imblearn.over_sampling import SMOTE
over = {1:300,2:300,3:300,4:300,5:300,6:300} #change here to set over sampling goal for those class
X_over, y_over = SMOTE(sampling_strategy = over).fit_resample(X_imputered, y)
print("after over sampling:")
print(sorted(Counter(y_over).items()))

under = {0:800} # change here for under sampling goal
from imblearn.under_sampling import RandomUnderSampler
X_under, y_under = RandomUnderSampler(sampling_strategy = under ).fit_resample(X_over, y_over)
print("after Under sampling:")
print(sorted(Counter(y_under).items()))


# from imblearn.combine import SMOTEENN
# smote_enn = SMOTEENN(sampling_strategy='all',smote=SMOTE(sampling_strategy = c))
# X_resampled, y_resampled = smote_enn.fit_resample(X_imputered, y)
# print(sorted(Counter(y_resampled).items()))

Original:
[(0, 2240), (1, 14), (2, 27), (3, 121), (4, 35), (5, 11), (6, 16)]
after over sampling:
[(0, 2240), (1, 300), (2, 300), (3, 300), (4, 300), (5, 300), (6, 300)]
after Under sampling:
[(0, 800), (1, 300), (2, 300), (3, 300), (4, 300), (5, 300), (6, 300)]