In [21]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn import metrics
import random

In [18]:
#loading data

X = pd.read_csv('newdata.txt',header=None,sep=" ")
Y = pd.read_csv('newlabels.txt',header=None, sep=" ")
print(X.shape)
print(Y.shape)

(2600, 79)
(2600, 1)

In [24]:
# shuffling data

idx = np.random.permutation(X.index)
X = X.reindex(idx)
Y = Y.reindex(idx)
Y.head()

        0
2084  5.0
1059  1.0
1820  4.0
99    0.0
1439  3.0

In [ ]:
# spliiting training and  testing data

In [ ]:
# training

clf = SVC(kernel='rbf')