In [1]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.model_selection import train_test_split

In [2]:
Y = pd.read_csv('labels.csv',header=0)
# df.head()
# df.value_counts()
for ch in list(Y)[1:]:
    ssd = Y[ch].value_counts()
    print(ssd)
    
    
X = pd.read_csv('data.csv',header=0)

-1.0    2450
 1.0      17
Name: TCA, dtype: int64
-1.0    2437
 1.0      30
Name: Resp, dtype: int64
-1.0    2346
 1.0     121
Name: Ribo, dtype: int64
-1.0    2432
 1.0      35
Name: Proteas, dtype: int64
-1.0    2456
 1.0      11
Name: Hist, dtype: int64
-1.0    2451
 1.0      16
Name: HTH, dtype: int64

In [3]:


X2 = X[1:]

Y = Y[1:]


Y=Y[pd.notnull(Y['gene'])]
X.head()
# print(list(X))
Xdata = X[pd.notnull(X['ORF'])]
Xdata = X.drop(columns=['ORF','NAME'])
# Xdata.head()

In [4]:
X2=X.iloc[:,2:]
x= X2.values #convert to numpy array
labels=Y.iloc[:,1:]
y=Y.values #convert to numpy arrayR

y[y== -1] = 0 #one hot encoding

In [5]:
print(y)

[['YAL001C' 0 0 ... 0 0 0]
 ['YAL002W' 0 0 ... 0 0 0]
 ['YAL003W' 0 0 ... 0 0 0]
 ...
 ['YPR199C' 0 0 ... 0 0 0]
 ['YPR200C' 0 0 ... 0 0 0]
 ['YPR201W' 0 0 ... 0 0 0]]

In [6]:
labels = np.zeros(Y.shape[0])
# print(labels)
# print(Y.shape)
i = 0
for ind,row in Y.iterrows():
#     print(i)
#     i = index - 1
#     print(" " + row['gene'])
    if(row['TCA'] == 1):
        labels[i] = 1
    elif (row['Resp'] == 1):
        labels[i] = 2
    elif(row['Ribo'] == 1):
        labels[i] = 3
    elif(row['Proteas'] == 1):
        labels[i] = 4
    elif(row['Hist'] == 1):
        labels[i] = 5
#         print(i)
    else:
        pass
    i+=1
#     break
# print(labels)

In [7]:
print(labels.size)

2467

In [20]:
# Xdata.head()
# Xdata.isnull().sum().sum()
# Xdata = X
# Xdata.replace(["NaN",'NaT'],np.nan,inplace=True)
print(Xdata.shape)
# print(Xdata.isna().sum())
Xdata['label'] = labels
Xdata = Xdata.dropna()
print(Xdata.shape)
labels = Xdata['label']
print(len(labels))
Xdata = Xdata.drop(columns='label')
Xdata.head()

(605, 80)
(605, 80)
605

,alpha 0,alpha 7,alpha 14,alpha 21,alpha 28,alpha 35,alpha 42,alpha 49,alpha 56,alpha 63,...,cold 20,cold 40,cold 160,diau a,diau b,diau c,diau d,diau e,diau f,diau g
12,-0.29,0.31,-0.20,-0.04,-0.38,0.11,-0.20,-0.40,-0.12,0.42,...,-0.09,0.04,-0.06,-0.69,0.66,-0.22,-0.62,-0.74,0.20,0.04
22,-2.84,-1.47,-0.94,-1.79,-1.47,-1.74,-0.20,-0.34,0.58,-0.01,...,-0.17,-0.58,-0.69,0.16,0.11,0.39,0.81,0.92,2.03,2.29
40,-0.06,0.20,0.04,-0.22,-0.30,-0.54,-0.17,-0.67,-0.34,0.08,...,0.19,0.28,-0.06,-0.56,0.16,0.03,-0.30,-0.10,0.80,0.30
44,-0.01,0.32,0.56,0.41,0.33,0.20,0.14,-0.34,-0.38,-0.42,...,0.12,0.08,-0.62,-0.09,0.14,0.68,1.10,1.46,2.99,1.08
46,0.10,0.56,0.39,-0.58,-0.29,-0.34,-0.20,-0.42,-0.29,-0.27,...,0.99,0.19,-0.40,-0.06,0.23,0.23,0.50,1.02,2.48,1.14

In [22]:
# Xdata.dropna()
X_train, X_test, Y_train, Y_test = train_test_split(Xdata,labels)
print(X_train.shape)
print(X_test.shape)
Xdata.head()

(453, 79)
(152, 79)

,alpha 0,alpha 7,alpha 14,alpha 21,alpha 28,alpha 35,alpha 42,alpha 49,alpha 56,alpha 63,...,cold 20,cold 40,cold 160,diau a,diau b,diau c,diau d,diau e,diau f,diau g
12,-0.29,0.31,-0.20,-0.04,-0.38,0.11,-0.20,-0.40,-0.12,0.42,...,-0.09,0.04,-0.06,-0.69,0.66,-0.22,-0.62,-0.74,0.20,0.04
22,-2.84,-1.47,-0.94,-1.79,-1.47,-1.74,-0.20,-0.34,0.58,-0.01,...,-0.17,-0.58,-0.69,0.16,0.11,0.39,0.81,0.92,2.03,2.29
40,-0.06,0.20,0.04,-0.22,-0.30,-0.54,-0.17,-0.67,-0.34,0.08,...,0.19,0.28,-0.06,-0.56,0.16,0.03,-0.30,-0.10,0.80,0.30
44,-0.01,0.32,0.56,0.41,0.33,0.20,0.14,-0.34,-0.38,-0.42,...,0.12,0.08,-0.62,-0.09,0.14,0.68,1.10,1.46,2.99,1.08
46,0.10,0.56,0.39,-0.58,-0.29,-0.34,-0.20,-0.42,-0.29,-0.27,...,0.99,0.19,-0.40,-0.06,0.23,0.23,0.50,1.02,2.48,1.14

In [29]:
clf = svm.SVC(gamma='scale',decision_function_shape='ovo')
clf.fit(X_train,Y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovo', degree=3, gamma='scale', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [30]:
ypred = clf.predict(X_test)
y_pred = clf.decision_function(X_test)

In [41]:
from sklearn import metrics
print("accuracy:",metrics.accuracy_score(Y_test,ypred))
print("precision:",metrics.precision_score(Y_test,ypred,average='macro'))
# print(ypred)
# print(Y_test)
print(y_pred)
inds  = np.where(y_pred == y_pred.max())
print(len(y_pred))
print(inds)

accuracy: 0.9276315789473685
precision: 0.23190789473684212
[[ 1.06127393  1.04955166  1.03229345 ...  0.89944154  0.78930866
   0.07237759]
 [ 1.00514584  1.04475243  1.05297293 ...  0.87838892  0.86493289
   0.32706018]
 [ 1.0412832   1.05884016  1.10270102 ...  0.5657763   0.98898123
   1.02432455]
 ...
 [ 1.02079132  1.03592187  1.02200855 ...  0.85976738  0.97847119
   0.38584345]
 [ 1.0308686   1.04803957  0.94558    ...  1.01650333  1.02889337
   0.68683819]
 [ 1.04975438  1.02311237  1.05218948 ...  0.95156419  0.68193025
  -0.34446769]]
152
(array([136], dtype=int64), array([12], dtype=int64))