In [1]:
import pandas as pd

In [27]:
Y = pd.read_csv('labels.csv')
# df.head()
# df.value_counts()
for ch in list(Y)[1:]:
    ssd = Y[ch].value_counts()
    print(ssd)
    
    
X = pd.read_csv('data.csv')

-1.0    2450
 1.0      17
Name: TCA, dtype: int64
-1.0    2437
 1.0      30
Name: Resp, dtype: int64
-1.0    2346
 1.0     121
Name: Ribo, dtype: int64
-1.0    2432
 1.0      35
Name: Proteas, dtype: int64
-1.0    2456
 1.0      11
Name: Hist, dtype: int64
-1.0    2451
 1.0      16
Name: HTH, dtype: int64

In [37]:
from sklearn import svm

X2 = X[1:]

Y = Y[1:]



Y.head()
# X.head()
# X2.head()

# clf = svm.SVC(gamma='scale',decision_function_shape='ovo')
# clf.fit(X,Y)

       gene  TCA  Resp  Ribo  Proteas  Hist  HTH
10      NaN  NaN   NaN   NaN      NaN   NaN  NaN
11  YAL012W -1.0  -1.0  -1.0     -1.0  -1.0 -1.0
12      NaN  NaN   NaN   NaN      NaN   NaN  NaN
13  YAL013W -1.0  -1.0  -1.0     -1.0  -1.0 -1.0
14      NaN  NaN   NaN   NaN      NaN   NaN  NaN